name: Build Package

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  pkg-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Build package
        run: python setup.py sdist

      - name: Install package
        run: |
          pip install -e .
          python -c "from icevision.all import *"
